<div class="timer">
  <ul id="times">
    <li>
      <span class="day-count">{{days}}</span>
      <span class="day-label">Days</span>
    </li>
    <li>
      <span class="hour-count">{{hours}}</span>
      <span class="hour-lable">Hours</span>
    </li>
    <li>
      <span class="minute-count">{{minutes}}</span>
      <span class="minut-label">Minutes</span>
    </li>
    <li>
      <span class="second-count">{{seconds}}</span>
      <span class="second-label">Seconds</span>
    </li>
  </ul>
</div>
