<app-timer></app-timer>



<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Seasonal Items</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" *ngFor="let product of products">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">   {{product.productName}} </h2>
          <h4 class="align-items-center pt-5 mb-4 lh-1">{{product.productDescription}}</h4>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <button class="btn btn-outline-info btn-sm px-4 me-sm-3 fw-bold" type="button" (click)="buyProductButton(product.productId)">Buy</button>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
              <small>Price: {{product.productPrice}} !Bucks</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
   

<!--<ul>
  <li *ngFor="let product of products">
    {{product.productName}} <button (click)="buyProductButton(product.productId)">Buy</button>
  </li>
</ul>-->
