<div class="container">
  <h3>Place your bet</h3>
  <div class="row text-center" *ngIf="fighter">
    <h4>You are placing a bet on Fight #{{fighter.fightId}}</h4>
  </div>
  <div class="row text-center disp">
    <div class="col-md-2 fighter py-3" [class.selected]="selected1" (click)="doFirst()">
      {{character1.name}}
    </div>
    <div class="col-md-1">
      VS
    </div>
    <div class="col-md-2 fighter py-3" [class.selected]="selected2" (click)="doSecond()">
      {{character2.name}}
    </div>
    <div class="col-md-6" *ngIf="fighter">
      <button class="btn-bet px-3 py-1" (click)="activateBet()"> Bet on fight </button>
    </div>
  </div>
</div>
