<div id="fighters" class="fighters-text">
  <div class="centered">{{characters[0].name}}, the {{traits[0].description}} {{characters[0].baseform}} wielding
    {{weapons[0].description}}</div>&nbsp;
  <div class="centered">VS</div>&nbsp;
  <div class="centered">{{characters[1].name}}, the {{traits[1].description}} {{characters[1].baseform}} wielding
    {{weapons[1].description}}</div>
  <div class="centered">IN</div>
  <div class="fighters-text" *ngIf="fight">
    <div class="centered">Location: {{fight.locationNavigation}}</div>
    <div class="centered">Weather: {{fight.weatherNavigation}}</div>
  </div>
</div>


<app-timer *ngIf="fight != null" [endTime]="endTime" [tallyVotesFunction]="tallyVotes.bind(this)" [result]="result"></app-timer>

<app-chat></app-chat>

<app-vote [fighter1]="fighters[0]" [fighter2]="fighters[1]" [fighterName1]="characters[0].name" [fighterName2]="characters[1].name"></app-vote>

<app-bets [fighter1]="fighters[0]" [character1]="characters[0]" [fighter2]="fighters[1]" [character2]="characters[1]"></app-bets>

<app-comment ></app-comment>

