<div id="fighters">
  <span>{{characters[0].name}}, a {{traits[0].description}} {{characters[0].baseform}} wielding
    {{weapons[0].description}}</span>&nbsp;
  <span>VS</span>&nbsp;
  <span>{{characters[1].name}}, a {{traits[1].description}} {{characters[1].baseform}} wielding
    {{weapons[1].description}}</span>
</div>

<app-timer [endTime]="endTime"></app-timer>

<app-chat></app-chat>

<app-vote [fighter1]="fighters[0]" [fighter2]="fighters[1]" [fighterName1]="characters[0].name" [fighterName2]="characters[1].name"></app-vote>
